<footer class="bg-light text-center text-lg-start mt-5 pt-4">
    <div class="container p-4">
      <!-- Section: Links -->
      <section class="mb-4">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column: About Us -->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About Us</h5>
            <ul class="list-unstyled">
              <li><a href="#!" class="text-dark">Company</a></li>
              <li><a href="#!" class="text-dark">Careers</a></li>
              <li><a href="#!" class="text-dark">Press</a></li>
              <li><a href="#!" class="text-dark">Blog</a></li>
            </ul>
          </div>
          <!-- Grid column: Support -->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Support</h5>
            <ul class="list-unstyled">
              <li><a href="#!" class="text-dark">Help Center</a></li>
              <li><a href="#!" class="text-dark">FAQs</a></li>
              <li><a href="#!" class="text-dark">Returns</a></li>
              <li><a href="#!" class="text-dark">Shipping</a></li>
            </ul>
          </div>
          <!-- Grid column: Follow Us -->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Follow Us</h5>
            <a href="https://instagram.com/harsh_ideal" class="btn btn-link btn-floating btn-lg text-dark" role="button" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com/in/harsh-srivastava21" class="btn btn-link btn-floating btn-lg text-dark" role="button" aria-label="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <!-- Grid column: Contact Us -->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact Us</h5>
            <ul class="list-unstyled">
              <li><p class="text-dark">Email: <a href="mailto:support@example.com">support@harsh.com</a></p></li>
              <li><p class="text-dark">Phone: +91 9889585355</p></li>
              <li><p class="text-dark">Address: Sector 47, Noida, UP</p></li>
            </ul>
          </div>
        </div>
        <!-- Grid row -->
      </section>
      <!-- Section: Links -->
  
      <!-- Section: Copyright -->
      <section class="p-3">
        <div class="text-center">
          <p class="mb-0">© 2024 E-Commerce Clothing. All rights reserved.</p>
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
  </footer>
  