<% layout("./layout/boilerplate.ejs") %>

<body>
    <div class="container mt-5">
        <a href="/" class="btn btn-primary mb-4">Back to Home</a>
        <h1>About Us</h1>
        <p>Welcome to our e-commerce store! We offer a wide range of clothing items to suit your style and comfort. Our mission is to provide high-quality clothing at affordable prices. Thank you for visiting!</p>
    </div>

